<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 设置为IUserDao接口方法提供sql语句配置 -->
<mapper namespace="com.cn.wanxi.dao.UserDao">

    <select id="getById" resultType="com.cn.wanxi.entity.UserEntity" parameterType="java.lang.Integer">
        SELECT id,username,password FROM user WHERE id = #{id}
    </select>
    <select id="findAll" resultType="com.cn.wanxi.entity.UserEntity">
        select * from user
    </select>
    <insert id="add" parameterType="com.cn.wanxi.entity.UserEntity">
        insert into user (username,password) values (#{username},#{password})
    </insert>
    <update id="update" parameterType="com.cn.wanxi.entity.UserEntity">
        update user set username=#{username},password=#{password} where id=#{id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from  user where id=#{id}
    </delete>
</mapper>
